In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('C:/Users/kesav/OneDrive/Desktop/Academics/Data analytics/Assignment/Assignment-2/data.csv')

In [4]:
temp=data[(data['City_name']=='Hyderabad') | (data['City_name']=='Chennai') | (data['City_name']=='Bangalore') | (data['City_name']=='Mumbai')]

In [5]:
Tech=data[(data['City_name']=='Hyderabad') | (data['City_name']=='Chennai') | (data['City_name']=='Bangalore') | (data['City_name']=='Mumbai')]

NonTech=data[(data['City_name']=='Ahmedabad') | (data['City_name']=='Kolkata') | (data['City_name']=='Delhi') | (data['City_name']=='Lucknow')]

In [6]:
threshold=17
for i in data.columns:
    temp=data[i].drop_duplicates()
    if(len(temp)>threshold):
        Tech.pop(i)
        NonTech.pop(i)
    elif data[i].dtype=='bool':
        Tech.pop(i)
        NonTech.pop(i)
    elif len(data[i].drop_duplicates())==1:
        Tech.pop(i)
        NonTech.pop(i)

4

In [7]:
#Generalization based on no of distinct values
att_thre=5
for i in Tech.columns:
    if len(Tech[i].drop_duplicates())>att_thre:
        if i == "No_of_BHK":
            Tech['No_of_BHK'] = Tech['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            Tech['No_of_BHK'] = Tech['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            Tech['No_of_BHK'] = Tech['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
            
            NonTech['No_of_BHK'] = NonTech['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            NonTech['No_of_BHK'] = NonTech['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            NonTech['No_of_BHK'] = NonTech['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')

        else:
            Tech.pop(i)
            NonTech.pop(i)

#Droppping the redundant tuples
newTech = Tech.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

newNonTech = NonTech.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

No_of_BHK

In [8]:
newTech

,Property_type,Property_status,Property_building_status,City_id,City_name,No_of_BHK,is_furnished
0,Apartment,Under Construction,ACTIVE,2,Bangalore,Small house,Unfurnished
1,Independent House,Under Construction,ACTIVE,2,Bangalore,Luxury,Unfurnished
2,Independent House,Ready to move,ACTIVE,2,Bangalore,Bungalow,Semi-Furnished
3,Villa,Ready to move,ACTIVE,5,Chennai,Small house,Unfurnished
4,Villa,Ready to move,ACTIVE,5,Chennai,Luxury,Unfurnished
5,Apartment,Under Construction,ACTIVE,12,Hyderabad,Small house,Unfurnished
6,Villa,Under Construction,ACTIVE,12,Hyderabad,Luxury,Unfurnished
7,Independent House,Ready to move,ACTIVE,12,Hyderabad,Bungalow,Unfurnished
8,Apartment,Under Construction,ACTIVE,18,Mumbai,Small house,Unfurnished
9,Independent Floor,Ready to move,ACTIVE,18,Mumbai,Luxury,Unfurnished
10,Apartment,Ready to move,ACTIVE,18,Mumbai,Bungalow,Furnished

In [9]:
newNonTech

,Property_type,Property_status,Property_building_status,City_id,City_name,No_of_BHK,is_furnished
0,Apartment,Under Construction,ACTIVE,1,Ahmedabad,Small house,Unfurnished
1,Apartment,Under Construction,ACTIVE,1,Ahmedabad,Luxury,Unfurnished
2,Villa,Ready to move,ACTIVE,1,Ahmedabad,Bungalow,Furnished
3,Apartment,Ready to move,ACTIVE,6,Delhi,Small house,Unfurnished
4,Apartment,Ready to move,ACTIVE,6,Delhi,Luxury,Semi-Furnished
5,Apartment,Under Construction,ACTIVE,16,Kolkata,Small house,Unfurnished
6,Villa,Under Construction,ACTIVE,16,Kolkata,Luxury,Unfurnished
7,Independent House,Ready to move,ACTIVE,16,Kolkata,Bungalow,Unfurnished
8,Apartment,Under Construction,ACTIVE,23,Lucknow,Small house,Unfurnished
9,Villa,Under Construction,ACTIVE,23,Lucknow,Luxury,Unfurnished
10,Apartment,Ready to move,ACTIVE,23,Lucknow,Bungalow,Furnished