In [6]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [7]:
data=pd.read_csv('C:/Users/kesav/OneDrive/Desktop/Academics/Data analytics/Assignment/Assignment-2/data.csv')

In [8]:
target = data[data['Property_status']=='Under Construction']
contrast= data[data['Property_status']=='Ready to move']

In [9]:
#Removing attributes that has more no of distinct values
threshold=17
for i in data.columns:
    temp=data[i].drop_duplicates()
    if(len(temp)>threshold):
        target.pop(i)
        contrast.pop(i)
    elif data[i].dtype=='bool':
        target.pop(i)
        contrast.pop(i)
    elif len(data[i].drop_duplicates())==1:
        target.pop(i)
        contrast.pop(i)

In [10]:
#Generalization based on no of distinct values
att_thre=5
for i in target.columns:
    if len(target[i].drop_duplicates())>att_thre:
        if i == "No_of_BHK":
            target['No_of_BHK'] = target['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            target['No_of_BHK'] = target['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            target['No_of_BHK'] = target['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
            
            contrast['No_of_BHK'] = contrast['No_of_BHK'].replace(['0 BHK','1 RK','1 BHK','2 RK','2 BHK','3 BHK','3 RK','4 BHK'],'Small house')
            contrast['No_of_BHK'] = contrast['No_of_BHK'].replace(['5 BHK','6 BHK','7 BHK','8 BHK','9 BHK'],'Luxury')
            contrast['No_of_BHK'] = contrast['No_of_BHK'].replace(['10 BHK','11 BHK','12 BHK','14 BHK'],'Bungalow')
        
        elif i == "City_name":
            target['City_name'] = target['City_name'].replace(['Ahmedabad','Delhi','Kolkata','Lucknow','Mumbai'],'North India')
            target['City_name'] = target['City_name'].replace(['Chennai','Hyderabad','Bangalore'],'South India')
            
            contrast['City_name'] = contrast['City_name'].replace(['Ahmedabad','Delhi','Kolkata','Lucknow','Mumbai'],'North India')
            contrast['City_name'] = contrast['City_name'].replace(['Chennai','Hyderabad','Bangalore'],'South India')
        else:
            target.pop(i)
            contrast.pop(i)

#Droppping the redundant tuples
newTarget = target.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

newContrast = contrast.drop_duplicates(
  subset = ['No_of_BHK', 'City_name']).reset_index(drop = True)

In [11]:
newTarget

,Property_type,Property_status,Property_building_status,City_name,No_of_BHK,is_furnished
0,Apartment,Under Construction,ACTIVE,North India,Small house,Unfurnished
1,Apartment,Under Construction,ACTIVE,North India,Luxury,Unfurnished
2,Apartment,Under Construction,ACTIVE,South India,Small house,Unfurnished
3,Independent House,Under Construction,ACTIVE,South India,Luxury,Unfurnished
4,Apartment,Under Construction,ACTIVE,North India,Bungalow,Unfurnished

In [12]:
newContrast

,Property_type,Property_status,Property_building_status,City_name,No_of_BHK,is_furnished
0,Apartment,Ready to move,ACTIVE,North India,Small house,Unfurnished
1,Apartment,Ready to move,ACTIVE,North India,Luxury,Unfurnished
2,Villa,Ready to move,ACTIVE,North India,Bungalow,Furnished
3,Apartment,Ready to move,ACTIVE,South India,Small house,Unfurnished
4,Apartment,Ready to move,ACTIVE,South India,Luxury,Semi-Furnished
5,Independent House,Ready to move,ACTIVE,South India,Bungalow,Semi-Furnished