import numpy as np
import pandas as pd

In [163]:
rating=pd.read_csv('ratings.csv')
movie=pd.read_csv('movies.csv')

#merging & creating transcational data
data=pd.merge(rating,movie,on='movieId')

#movies rated above 2
new=data[data['rating']>2]

(87313, 6)

In [165]:
#users who have rated more than 10 movies
final=pd.DataFrame(new.groupby('userId')['rating'].count())
final=final[final['rating']>10]
final.rename(columns={'rating':'rating count'},inplace=True)

(607, 1)

In [166]:
#movie count
mcount=pd.DataFrame(new.groupby('userId')['movieId'].count())
mcount.rename(columns={'movieId':'movie count'},inplace=True)

(610, 1)

In [161]:
#final
temp=pd.merge(temp,mcount,on='userId')
temp

,userId,movieId,rating,timestamp,title,genres,rating count,movie count_x,movie count_y,movie count_x,movie count_y,movie count
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,226,226,226,226,226,226
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,226,226,226,226,226,226
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,226,226,226,226,226,226
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,226,226,226,226,226,226
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,226,226,226,226,226,226
...,...,...,...,...,...,...,...,...,...,...,...,...
87290,578,68269,4.5,1300996671,"Young Victoria, The (2009)",Drama|Romance,25,25,25,25,25,25
87291,578,6751,2.5,1300990921,Cold Creek Manor (2003),Drama|Thriller,25,25,25,25,25,25
87292,578,7395,4.0,1300996571,Cheaper by the Dozen (1950),Comedy|Drama,25,25,25,25,25,25
87293,578,56389,4.0,1300996756,My Blueberry Nights (2007),Drama|Romance,25,25,25,25,25,25
87294,578,75446,2.5,1300995271,Little Ashes (2008),Drama,25,25,25,25,25,25

In [ ]:
#Divide the data set into 80% training set and 20% test set